.auth-div {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100wh;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
